<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="eSportivaPU" />
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:file:./data/eSportiva;AUTO_SERVER=TRUE" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean id="gameRepository" class="com.example.esportiva.repositories.GameRepositoryImpl" >
        <constructor-arg ref="entityManagerFactory" />
    </bean>
    <bean id="teamRepository" class="com.example.esportiva.repositories.TeamRepositoryImpl" >
        <constructor-arg ref="entityManagerFactory" />
    </bean>
    <bean id="gamerRepository" class="com.example.esportiva.repositories.GamerRepositoryImpl" >
        <constructor-arg ref="entityManagerFactory" />
    </bean>
    <bean id="tournamentRepository" class="com.example.esportiva.repositories.TournamentRepositoryImpl" >
        <constructor-arg ref="entityManagerFactory" />
    </bean>

    <bean id="gameService" class="com.example.esportiva.services.GameServiceImpl" >
        <constructor-arg ref="gameRepository" />
    </bean>
    <bean id="teamService" class="com.example.esportiva.services.TeamServiceImpl" >
        <constructor-arg ref="teamRepository" />
    </bean>
    <bean id="gamerService" class="com.example.esportiva.services.GamerServiceImpl" >
        <constructor-arg ref="gamerRepository" />
    </bean>
    <bean id="tournamentService" class="com.example.esportiva.services.TournamentServiceImpl" >
        <constructor-arg ref="tournamentRepository" />
    </bean>

</beans>